h1{
    text-align: center;
}

.container{
    grid: display;
    grid-template-columns: 6/6;
    grid-template-rows: 6/6;
    margin-left: 15px;
    
}

.form-container{
    padding: 5px;
    border:  3px solid green;
}

.spaced{
    margin-right: 20px;
}

footer{
    display: grid;
    grid-template-columns: 100px, 100px, 100px, 100px, 100px ;
}
