h1{
    text-align: center;
}

.container{
    grid: display;
    grid-template-columns: 6/6;
    grid-template-rows: 6/6;
    margin-left: 15px;
    
}

.form-container{
    display: grid;
    padding: 5px;
    border:  3px solid green;
    text-align: center;
}


footer{
    display: grid;
    border: 2px solid greenyellow;
}

.btn-function{
    margin: 15px;
    border: 3px solid crimson;
    padding: 5px;
}

button{
    margin:5px;
    border: 3px solid black;
    padding:10px;
    
}